
.header{
	height: 40px;
	background: #181818;
	align-items: center;
	&_items{
		color:#d3d3d3;
		display: inline-block;
		height: 25px;
		width:100px;
		display:flex;
		align-items: center;
		justify-content: center;
		border:3px solid #181818;
		text-decoration: none;
		font-family: 'Anton', sans-serif;
		&:not(.header_items-logo){
			&:hover{
				border:3px solid #4e3317;
	
			}
		}
		&-logo{
			width:110px;
		}
	
	}
	
}