.slider {
    padding-top: 10px;
    display: flex;
    align-content: stretch;
    background: url("/images/1.png") no-repeat;
    background-size: 100% 100%;
    .radioNav {
        margin-bottom: 25px;
        height: 16px;
        display: flex;
        width: 100px;
        justify-content: space-between;
        align-self: flex-end;
        &__item{
            border:2px solid #eaeeee;
            width: 20px;
        }
    }
    .nav {
        display: flex;
        height: 30px;
        width: 106px;
        justify-content: space-between;
        align-self: flex-end;
         margin-bottom: 50px;
         margin-right: 25px;
            &__item{
                width: 50%;
                border:2px solid #e8930d;
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    font-size:22px;
                }
            }
    }
    .info {
        width: 200px;
        height: 114px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        font-family: 'Josefin Sans', sans-serif;
        color:#fffefc;
        &__btn{
            display: block;
            border:2px solid #e8930d;
            width: 120px;
            height: 30px;
            background-color: rgba(255, 254, 254, 0);
            color:#fffefc;
        }
        &__quote{
            font-family: 'Indie Flower', cursive;
            color:#a0a39d;
            font-size: 20px;
        }
        &__title{
           font-family: "Anton";
           font-size: 18px;
        }
    }
}

.activ{
    background: #e8930d
}